h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14.06px;
    color: #001E41;
    min-width: 380px;
}

.container {
    padding-inline: 10px;
}

@media screen and (min-width: 768px) {
    .container {
        padding-inline: 50px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        padding-inline: 92px;
    }
}

.hover {
    transition: all .5s;
}

.hover:hover {
    transform: scale(1.05);
}

/*********************************************************** HEADER  */
.header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.header-logo  {
    background-image: url(../img/icon/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 89px;
    height: 21px;
}

@media screen and (min-width: 1440px) {
    .header-logo {
        background-image: url(../img/icon/logo-pc.svg);
        width: 140px;
        height: 34px;
    }
}

.header-burger {
    background-image: url(../img/icon/burger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 10px;
    display: block;
}

@media screen and (min-width: 1440px) {
    .header-burger {
        display: none;
    }
}

.header-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 14px;
}

.header-nav {
    display: none;
}

@media screen and (min-width: 1440px) {
    .header-nav {
        display: block;
    }    
}

.haeder-nav-list {
    display: flex;
    gap: 30px;
}

.header-nav-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 19.8px;
    color: #7D7D7D;
}

.header-nav-link:hover::after {
    transform: scale(1);
}

.header-nav-link::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 1px;
    height: 1px;
    background-color: #5D78FF;
    transition: transform .5s;
    transform: scale(0);
    transform-origin: left;
}

.header-nav-link:hover {
    transform: scale(1.1);
    color: #5D78FF;
}

.header-right-content {
    display: none;
}

@media screen and (min-width: 1440px) {
    .header-right-content {
        display: flex;
        gap: 40px;
        align-items: center;
    }
}

.header-right-sing {
    color: #5D78FF;
    font-size: 18px;
    line-height: 28.8px;
}

.header-right-sing:hover::after {
    transform: scale(1);
}

.header-right-sing::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 1px;
    height: 1px;
    background-color: #5D78FF;
    transition: transform .5s;
    transform: scale(0);
    transform-origin: left;
}



.header-right-btn {
    padding: 6px 24px;
}
/*********************************************************** HEADER  */

.border {
    border-bottom: 1px #E5E5E5 solid;
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

/*********************************************************** HERO  */
.hero {
    background-color: #E2F2FF;
    border-radius: 10px;
    margin-bottom: 40px;
}

@media screen and (min-width: 1440px) {
    .hero {
        margin-bottom: 100px;
    }
}

.hero-wrapper {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .hero-wrapper {
       text-align: center;
       padding: 40px 20px
    }
}

@media screen and (min-width: 1440px) {
    .hero-wrapper  {
        padding: 22px 10px 20px 51px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

.hero-wrapper-flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 1440px) {
    .hero-wrapper-flex {
        text-align: left;
        gap: 59px;
    }
}

.hero-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 0.64px;
    margin-bottom: 20px;
}

@media screen and (min-width: 1440px) {
    .hero-title  {
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 48px;
    }
}

.hero-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

@media screen and (min-width: 1440px) {
    .hero-paragraphs{
        gap: 6px;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 1440px) {
    .hero-paragraph {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.08px;
    }
}

.hero-paragraph-grey {
    color: #909090;
}

@media screen and (min-width: 1440px) {
    .hero-paragraph-grey {
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.035px;
    }
}

.hero-button {
    text-align: center;
}

@media screen and (min-width: 1440px) {
    .hero-button {
        text-align: left;
    }
}

.btn {
    cursor: pointer;
    padding: 10px 30px;
    background-color: #5D78FF;
    color: white;
    border: none;
    border-radius: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: 0.35px;
    box-shadow: 0 5px 15px rgba(0,0,0,.35);
}

@media screen and (min-width: 1440px) {
    .btn {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04px;
    }
}

.img {
    width: 100%;
}

.hero-trusted {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

@media screen and (min-width: 1440px) {
    .hero-trusted {
        align-items: flex-start;
    }
}

@media screen and (min-width: 1440px) {
    .hero-trusted-paragraph {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.08px;
    }
}

.hero-companies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/*********************************************************** HERO  */

/*********************************************************** SECTION  */
.section {
    padding-bottom: 30px;
}

@media screen and (min-width: 1440px) {
    .section {
        padding-bottom: 75px;
    }
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .section-wrapper {
       text-align: center;
    }
}

@media screen and (min-width: 1440px) {
    .section-wrapper {
        gap: 40px;
        align-items: flex-start;  
        position: relative;  
    }
}

.section-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #909090;
}

@media screen and (min-width: 1440px) {
    .section-title {
        font-size: 36px;
        line-height: 42.19px;
    }
}

.section-span {
    color: #001E41;
}

.section-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align-last: center;
}

@media screen and (min-width: 1440px) {
    .section-bottom {
        flex-direction: row;
        align-self: center;
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (min-width: 1440px) {
    .section-paragraph {
        font-size: 14px;
        line-height: 18.2px;
        letter-spacing: 0.035px;
        width: 50%;
    }
}
/*********************************************************** SECTION  */

/*********************************************************** SWIPER  */
.swiper {
    width: 100%;
    height: 100%;
    position: static;
  }
  

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

@media screen and (min-width: 1440px) {
    .swiper-horizontal>.swiper-pagination-bullets,.swiper-pagination-bullets.swiper-pagination-horizontal,.swiper-pagination-custom,.swiper-pagination-fraction {
        display: none;
    }
}

.swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper {
    margin-bottom: 10px;
}

.swiper-pagination {
    position: static;
} 

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    display: none;
}

@media screen and (min-width: 1440px) {
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        display: block;
        right: 150px;
        top: 30px;
    }
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    display: none;
}

@media screen and (min-width: 1440px) {
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        display: block;
        top: 30px;
        left: 1180px;
    }    
}

@media screen and (min-width: 1440px) {
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        content: '';
        background-image: url(../img/icon/left.svg);
        display: block;
        width: 28px;
        height: 28px;
        transition: all .5s;
    }

    .swiper-button-prev:hover, .swiper-rtl .swiper-button-next:hover::after {
        transform: scale(1.2);
    }
}

@media screen and (min-width: 1440px) {
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        content: '';
        background-image: url(../img/icon/right.svg);
        display: block;
        width: 28px;
        height: 28px;
        transition: all .5s;
    }

    .swiper-button-next:hover:after, 
    .swiper-rtl .swiper-button-prev:hover:after {
        transform: scale(1.2);
    }
}
/*********************************************************** SWIPER  */

/*********************************************************** TOOGLE  */
.toggle {
    height: 20px;
    width: 45px;
    background-color: #E2F2FF;
    border-radius: 100px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,.35);
    cursor: pointer;
    margin-right: 40px;
}

.toggle::before {
    content: "";
    height: 15px;
    width: 15px;
    background-color: #5D78FF;
    border-radius: 50%;
    transition: all .5s;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    box-shadow: 0 5px 15px rgba(0,0,0,.35);
}

.toggle.active::before {
    left: calc(100% - 15px - 2px);
    background-color: #E2F2FF;;
}

.whitejs.white {
    background-color: #E2F2FF;
}
/*********************************************************** TOOGLE  */

/*********************************************************** MODAL  */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    position: relative;
    background-color: white;
    margin: 20% auto;
    /* margin: 0 auto; */
    padding: 31px 24px;
    width: 90%;
    border-radius: 11.25px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

@media screen and (min-width: 1440px) {
    .modal-content {
        gap: 24px;
        margin: 10% 50%;
        height: 550px;
        border-radius: 15px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.modal-text {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

@media screen and (min-width: 1440px) {
    .modal-text {
        gap: 24px;
    }
}

.modal-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 0.36px;
    text-align: center;
}

@media screen and (min-width: 1440px) {
    .modal-title {
        font-size: 34px;
        line-height: 40.8px;

    }
}

.modal-paragraph {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03px;
    text-align: center;
}

@media screen and (min-width: 1440px) {
    .modal-paragraph {
        font-size: 14px;
        line-height: 21px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

@media screen and (min-width: 1440px) {
    .form {
        gap: 24px;
    }
}

.form-flex {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

@media screen and (min-width: 1440px) {
    .form-flex {
        gap: 8px;
    }
}

.form-buttons {
    display: flex;
    gap: 7.5px;
    justify-content: center;
}

@media screen and (min-width: 1440px) {
    .form-buttons {
        gap: 10px;
    }
}

.form-button {
    font-weight: 400;
    font-size: 12px;
    line-height: 13.5px;
    width: 100%
}

@media screen and (min-width: 1440px) {
    .form-button {
        font-size: 16px;
        line-height: 18px;
    }
}

.form-buttonjs {
    font-weight: 400;
    font-size: 12px;
    line-height: 13.5px;
    width: 100%;
    letter-spacing: 0.35px;
    box-shadow: 0 5px 15px rgba(0,0,0,.35);
    cursor: pointer;
    padding: 10px 30px;
    background-color: #5D78FF;
    color: white;
    border: none;
    border-radius: 7px;
}

@media screen and (min-width: 1440px) {
    .form-buttonjs {
        font-size: 16px;
        line-height: 18px;
    }
}

.button-disabled {
    background-color: #AED1FF;
    cursor: not-allowed; 
    pointer-events: none; 
    opacity: 0.5;
}

.form-label {
    font-weight: 400;
    font-size: 9px;
    line-height: 11.7px;
    letter-spacing: 0.0225px;
    color: #909090;
}

@media screen and (min-width: 1440px) {
    .form-label {
        font-size: 12px;
        line-height: 15.6px;
    }
}

.form-input {
    width: 100%;
    border-radius: 6px;
    border: 0.75px solid #D5D5D6;
    padding: 6px 9px;
    font-weight: 400;
    font-size: 10.5px;
    line-height: 15.75px;
    letter-spacing: 0.02625px;
    color: #BDBDBD;
}

@media screen and (min-width: 1440px) {
    .form-input {
        border-radius: 8px;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 21px;
    }
}

.form-input:hover {
    outline: 1px solid #5D78FF;
    color: black;
    font-weight: 400;
}

.form-input-x {
    padding-left: 80.25px;
}

.form-privat-policy {
    display: flex;
    gap: 6px;
    align-items: center;
}

@media screen and (min-width: 1440px) {
    .form-privat-policy {
        gap: 8px;
    }
}

.privat-policy {
    color: #5D78FF;
}

.checkbox-label {
    font-size: 9.75px;
    font-weight: 400;
    line-height: 11.43px;
    color: #909090;
}  

@media screen and (min-width: 1440px) {
    .checkbox-label {
        font-size: 13px;
        line-height: 15.23px;
    }
}

.form-group {
    position: relative;
}

.form-input-flag::before {
    content: '';
    background-image: url(../img/icon/flag.svg);
    background-repeat: no-repeat;
    width: 12.75px;
    height: 8.25px;
    position: absolute;
    left: 10px;
    top: 24px;
    z-index: 1;
}

@media screen and (min-width: 1440px) {
    .form-input-flag::before {
        top: 30px;
        width: 17px;
        height: 11px;
    }
}

.form-input-number::before {
    content: '+380';
    position: absolute;
    top: 21px;
    left: 25px;
    z-index: 1;
}

@media screen and (min-width: 1440px) {
    .form-input-number::before {
        top: 27px;
    }
}

.form-input-drop::before {
    content: '';
    background-image: url(../img/icon/drop.svg);
    background-repeat: no-repeat;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 23px;
    left: 55px;
    z-index: 1;
}

@media screen and (min-width: 1440px) {
    .form-input-drop::before {
        top: 29px;
    }
}

.form-bottom {
    font-size: 9px;
    line-height: 10.55px;
    color: #BDBDBD;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

@media screen and (min-width: 1440px) {
    .form-bottom {
        font-size: 13px;
        line-height: 15.23px;
    }
}

.form-bottom::before {
    content: '';
    background-image: url(../img/icon/form-logo.svg);
    background-repeat: no-repeat;
    width: 22.13px;
    height: 14.46px;
    display: block;
}

@media screen and (min-width: 1440px) {
    .form-bottom::before {
        width: 29.51px;
        height: 19.28px;
    }
}

.prerdy {
    color: #5D78FF;;
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #F3F4F6;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 22.5px;
    height: 22.5px;
    cursor: pointer;
}

.modal-close::before {
    content: '';
    background-image: url(../img/icon/closed.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 15px;
}

.modal-img {
    display: none;
}

@media screen and (min-width: 1440px) {
    .modal-img {
        display: block;
        position: absolute;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        top: 0;
        left: -100%;
    }
}