h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14.06px;
    color: #001E41;
    min-width: 380px;
}

.container {
    padding-inline: 10px;
}

@media screen and (min-width: 768px) {
    .container {
        padding-inline: 50px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        padding-inline: 92px;
    }
}

.hover {
    transition: all .5s;
}

.hover:hover {
    transform: scale(1.05);
}

/*********************************************************** HEADER  */
.header-burger {
    background-image: url(../img/icon/burger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 10px;
    display: block;
}

.header-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 14px;
}
/*********************************************************** HEADER  */

.border {
    border-bottom: 1px #E5E5E5 solid;
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

/*********************************************************** HERO  */
.hero {
    background-color: #E2F2FF;
    border-radius: 10px;
    margin-bottom: 40px;
}

@media screen and (min-width: 1440px) {
    .hero {
        margin-bottom: 100px;
    }
}

.hero-wrapper {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .hero-wrapper {
       text-align: center;
       padding: 40px 20px
    }
}

@media screen and (min-width: 1440px) {
    .hero-wrapper  {
        padding: 22px 10px 20px 51px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

.hero-wrapper-flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 1440px) {
    .hero-wrapper-flex {
        text-align: left;
        gap: 59px;
    }
}

.hero-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 0.64px;
    margin-bottom: 20px;
}

@media screen and (min-width: 1440px) {
    .hero-title  {
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 48px;
    }
}

.hero-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

@media screen and (min-width: 1440px) {
    .hero-paragraphs{
        gap: 6px;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 1440px) {
    .hero-paragraph {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.08px;
    }
}

.hero-paragraph-grey {
    color: #909090;
}

@media screen and (min-width: 1440px) {
    .hero-paragraph-grey {
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.035px;
    }
}

.hero-button {
    text-align: center;
}

@media screen and (min-width: 1440px) {
    .hero-button {
        text-align: left;
    }
}

.btn {
    cursor: pointer;
    padding: 10px 30px;
    background-color: #5D78FF;
    color: white;
    border: none;
    border-radius: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: 0.35px;
    box-shadow: 0 5px 15px rgba(0,0,0,.35);
}

@media screen and (min-width: 1440px) {
    .btn {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04px;
    }
}

.img {
    width: 100%;
}

.hero-trusted {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

@media screen and (min-width: 1440px) {
    .hero-trusted {
        align-items: flex-start;
    }
}

@media screen and (min-width: 1440px) {
    .hero-trusted-paragraph {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.08px;
    }
}

.hero-companies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/*********************************************************** HERO  */

/*********************************************************** SECTION  */
.section {
    margin-bottom: 30px;
}

@media screen and (min-width: 1440px) {
    .section {
        margin-bottom: 75px;
    }
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .section-wrapper {
       text-align: center;
    }
}

@media screen and (min-width: 1440px) {
    .section-wrapper {
        gap: 40px;
        align-items: flex-start;  
        position: relative;  
    }
}

.section-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #909090;
}

@media screen and (min-width: 1440px) {
    .section-title {
        font-size: 36px;
        line-height: 42.19px;
    }
}

.section-span {
    color: #001E41;
}

.section-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align-last: center;
}

@media screen and (min-width: 1440px) {
    .section-bottom {
        flex-direction: row;
        align-self: center;
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (min-width: 1440px) {
    .section-paragraph {
        font-size: 14px;
        line-height: 18.2px;
        letter-spacing: 0.035px;
        width: 50%;
    }
}
/*********************************************************** SECTION  */

/*********************************************************** SWIPER  */
.swiper {
    width: 100%;
    height: 100%;
    position: static;
  }
  

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

@media screen and (min-width: 1440px) {
    .swiper-horizontal>.swiper-pagination-bullets,.swiper-pagination-bullets.swiper-pagination-horizontal,.swiper-pagination-custom,.swiper-pagination-fraction {
        display: none;
    }
}

.swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper {
    margin-bottom: 10px;
}

.swiper-pagination {
    position: static;
} 

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    display: none;
}

@media screen and (min-width: 1440px) {
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        display: block;
        right: 150px;
        top: 30px;
    }
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    display: none;
}

@media screen and (min-width: 1440px) {
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        display: block;
        top: 30px;
        left: 1180px;
    }    
}

@media screen and (min-width: 1440px) {
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        content: '';
        background-image: url(../img/icon/left.svg);
        display: block;
        width: 28px;
        height: 28px;
        transition: all .5s;
    }

    .swiper-button-prev:hover, .swiper-rtl .swiper-button-next:hover::after {
        transform: scale(1.2);
    }
}

@media screen and (min-width: 1440px) {
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        content: '';
        background-image: url(../img/icon/right.svg);
        display: block;
        width: 28px;
        height: 28px;
        transition: all .5s;
    }

    .swiper-button-next:hover:after, 
    .swiper-rtl .swiper-button-prev:hover:after {
        transform: scale(1.2);
    }
}
/*********************************************************** SWIPER  */
