h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14.06px;
    color: #001E41;
    min-width: 380px;
}

.container {
    padding-inline: 10px;
}

@media screen and (min-width: 768px) {
    .container {
        padding-inline: 50px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        padding-inline: 92px;
    }
}

.hover {
    transition: all .5s;
}

.hover:hover {
    transform: scale(1.05);
}

/*********************************************************** HEADER  */
.header-burger {
    background-image: url(../img/icon/burger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 10px;
    display: block;
}

.header-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 14px;
}
/*********************************************************** HEADER  */

.border {
    border-bottom: 1px #E5E5E5 solid;
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

/*********************************************************** HERO  */
.hero {
    background-color: #E2F2FF;
    border-radius: 10px;
    margin-bottom: 40px;
}

.hero-wrapper {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .hero-wrapper {
       text-align: center;
    }
}

@media screen and (min-width: 1440px) {
    .hero-wrapper{
        display: grid;
        grid-template-columns: repeat(12,1fr);
    }
}


.hero-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 0.64px;
}

.hero-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-paragraph-grey {
    color: #909090;
}

.btn {
    cursor: pointer;
    padding: 10px 30px;
    background-color: #5D78FF;
    color: white;
    border: none;
    border-radius: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: 0.35px;
    box-shadow: 0 5px 15px rgba(0,0,0,.35);
}

/* .img {
    width: 100%;
} */

.hero-trusted {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.hero-companies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* .softserv {
    background-image: url(/img/icon/softserv.svg);
    width: 91.41px;
    height: 16.53px;
    background-repeat: no-repeat;
    background-size: contain;
} */
/*********************************************************** HERO  */

/*********************************************************** SECTION  */
.section {
    margin-bottom: 30px;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .section-wrapper {
       text-align: center;
    }
}

.section-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #909090;
}

.section-span {
    color: #001E41;
}

.section-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align-last: center;
}
/*********************************************************** SECTION  */

/*********************************************************** SWIPER  */
.swiper {
    width: 100%;
    height: 100%;
    position: static;
  }
  

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper {
    margin-bottom: 10px;
}

.swiper-pagination {
    position: static;
} 
/*********************************************************** SWIPER  */
